<router-outlet></router-outlet>
<section class="desktop">

  <section [style.background-image]="background" id="desktop_content" class="desktop_content" (click)="homeOpen=false">

    <!-- ICONS -->
    <app-icon
      [style.top.px]="i.position.y"
      [style.left.px]="i.position.x"
      *ngFor="let i of icons" [name]="i.name" [icon]="i.icon" [size]="i.size"
      class="desktop_icon"
      cdkDragBoundary=".desktop_content" cdkDrag
      id="{{i.name}}_icon"
      (dblclick)="startApplication(i)">
    </app-icon>

    <!-- Applications -->
    <app-chat
      *ngIf="getApplicationWindow(Application.chat) && getApplicationWindow(Application.chat).zIndex > 0"

      [style.width.px]="getApplicationWindowWidth(Application.chat)"
      [style.height.px]="getApplicationWindowHeight(Application.chat)"
      [style.z-index]="getApplicationWindowZIndex(Application.chat)"


      [window]="getApplicationWindow(Application.chat)"
      (windowClose)="stopApplication(Application.chat)"
      (windowMaximize)="maximizeApplication(Application.chat)"
      (windowMinimize)="minimizeApplication(Application.chat)"
      class="appwindow"
      cdkDragBoundary=".desktop_content" cdkDrag>
    </app-chat>

    <app-editor
      *ngIf="getApplicationWindow(Application.editor) && getApplicationWindow(Application.editor).zIndex > 0"

      [style.width.px]="getApplicationWindowWidth(Application.editor)"
      [style.height.px]="getApplicationWindowHeight(Application.editor)"
      [style.z-index]="getApplicationWindowZIndex(Application.editor)"


      [window]="getApplicationWindow(Application.editor)"
      (windowClose)="stopApplication(Application.editor)"
      (windowMaximize)="maximizeApplication(Application.editor)"
      (windowMinimize)="minimizeApplication(Application.editor)"
      class="appwindow"
      cdkDragBoundary=".desktop_content" cdkDrag>
    </app-editor>

    <app-explorer
      *ngIf="getApplicationWindow(Application.explorer) && getApplicationWindow(Application.explorer).zIndex > 0"

      [style.width.px]="getApplicationWindowWidth(Application.explorer)"
      [style.height.px]="getApplicationWindowHeight(Application.explorer)"
      [style.z-index]="getApplicationWindowZIndex(Application.explorer)"


      [window]="getApplicationWindow(Application.explorer)"
      (windowClose)="stopApplication(Application.explorer)"
      (windowMaximize)="maximizeApplication(Application.explorer)"
      (windowMinimize)="minimizeApplication(Application.explorer)"
      class="appwindow"
      cdkDragBoundary=".desktop_content" cdkDrag>
    </app-explorer>

    <app-mail
      *ngIf="getApplicationWindow(Application.mail) && getApplicationWindow(Application.mail).zIndex > 0"

      [style.width.px]="getApplicationWindowWidth(Application.mail)"
      [style.height.px]="getApplicationWindowHeight(Application.mail)"
      [style.z-index]="getApplicationWindowZIndex(Application.mail)"


      [window]="getApplicationWindow(Application.mail)"
      (windowClose)="stopApplication(Application.mail)"
      (windowMaximize)="maximizeApplication(Application.mail)"
      (windowMinimize)="minimizeApplication(Application.mail)"
      class="appwindow"
      cdkDragBoundary=".desktop_content" cdkDrag>
    </app-mail>

    <app-products
      *ngIf="getApplicationWindow(Application.products) && getApplicationWindow(Application.products).zIndex > 0"

      [style.width.px]="getApplicationWindowWidth(Application.products)"
      [style.height.px]="getApplicationWindowHeight(Application.products)"
      [style.z-index]="getApplicationWindowZIndex(Application.products)"


      [window]="getApplicationWindow(Application.products)"
      (windowClose)="stopApplication(Application.products)"
      (windowMaximize)="maximizeApplication(Application.products)"
      (windowMinimize)="minimizeApplication(Application.products)"
      class="appwindow"
      cdkDragBoundary=".desktop_content" cdkDrag>
    </app-products>

  </section>


  <section class="homeMenu" *ngIf="homeOpen">
    <div class="homeMenuItem">Explorer</div>
    <div class="homeMenuItem">Systemsteuerung</div>
    <div class="homeMenuItem">Shutdown</div>
  </section>

  <section class="events">
    <div class="eventInfo" *ngIf="getNewEvent()">
      A new {{getNewEvent().eventType}} message appeared!
    </div>
  </section>

  <section class="taskbar">
    <div class="home" (click)="homeOpen=true">
      <img src="assets/icons/home.png">
    </div>
    <div class="applications">
      <div *ngFor="let app of appWindows" class="application_tab" (click)="focusApplication(app.app)">
        <img [src]="'assets/icons/' + app.icon.icon + '.png'">
      </div>
    </div>

    <div class="time right">
      {{getNow() | date: timeformat}}
      <br>
      {{getNow() | date: dateformat}}
    </div>
    <div class="language right">
      {{lang}}
    </div>
  </section>
</section>
